
.pic {
    width: 500px;
}

.description{
    font-size: 2rem;
}

nav {
display: flex;
gap: 2rem;
justify-content: flex-end;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}